@*@model AutomatedManagementPilot_AMP.ViewModels.JobCardViewModel*@
@model AutomatedManagementPilot_AMP.Models.JobCard


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>JobCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopOrder" class="control-label"></label>
                <select asp-for="ShopOrder" class="form-control" asp-items="ViewBag.ShopOrders"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Operation" class="control-label"></label>
                <select asp-for="Operation" class="form-control" asp-items="ViewBag.Operations"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ShopOrder.ShopOrderNumber" class="control-label"></label>
                <input asp-for="ShopOrder.ShopOrderNumber" class="form-control" />
                <span asp-validation-for="ShopOrder.ShopOrderNumber" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                    <label asp-for="OperationClockOut" class="control-label"></label>
                    <input asp-for="OperationClockOut" class="form-control" />
                    <span asp-validation-for="OperationClockOut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OperationTotal" class="control-label"></label>
                    <input asp-for="OperationTotal" class="form-control" />
                    <span asp-validation-for="OperationTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartsMade" class="control-label"></label>
                    <input asp-for="PartsMade" class="form-control" />
                    <span asp-validation-for="PartsMade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    <input asp-for="Summary" class="form-control" />
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
