@model AutomatedManagementPilot_AMP.Models.JobCard

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>JobCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobCardId" />
            <div class="form-group">
                <label asp-for="OperationClockIn" class="control-label"></label>
                <input asp-for="OperationClockIn" class="form-control" />
                <span asp-validation-for="OperationClockIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationClockOut" class="control-label"></label>
                <input asp-for="OperationClockOut" class="form-control" />
                <span asp-validation-for="OperationClockOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationTotal" class="control-label"></label>
                <input asp-for="OperationTotal" class="form-control" />
                <span asp-validation-for="OperationTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartsMade" class="control-label"></label>
                <input asp-for="PartsMade" class="form-control" />
                <span asp-validation-for="PartsMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopOrderNumber" class="control-label"></label>
                <select asp-for="ShopOrderNumber" class="form-control" asp-items="ViewBag.ShopOrderNumber"></select>
                <span asp-validation-for="ShopOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
