@model AutomatedManagementPilot_AMP.Models.TimeClock

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>TimeClock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimeClockId" />
            <div class="form-group">
                <label asp-for="ClockIn" class="control-label">Clock In</label>
                <input asp-for="ClockIn" class="form-control" />
                <span asp-validation-for="ClockIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClockOut" class="control-label">Clock Out</label>
                <input asp-for="ClockOut" class="form-control" />
                <span asp-validation-for="ClockOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursWorked" class="control-label">Hours Worked</label>
                <input asp-for="HoursWorked" class="form-control" />
                <span asp-validation-for="HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Employee Id</label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopOrderNumber" class="control-label">Shop Order Number</label>
                <input asp-for="ShopOrderNumber" class="form-control" />
                <span asp-validation-for="ShopOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineId" class="control-label">Machine Id</label>
                <input asp-for="MachineId" class="form-control" />
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label">Summary</label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
