@*@model AutomatedManagementPilot_AMP.Models.Supervisor*@
@model AutomatedManagementPilot_AMP.ViewModels.CreateUserViewModel


@{
    ViewData["Title"] = "CreateEmployee";
}

<h2>Create A New Employee User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployee">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Name" class="control-label"></label>
                    <input asp-for="Employee.Name" class="form-control" />
                    <span asp-validation-for="Employee.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Employee.PayRoll" class="control-label"></label>
                    <input asp-for="Employee.PayRoll" class="form-control" />
                    <span asp-validation-for="Employee.PayRoll" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityRole" class="control-label"></label>
                    @*<input asp-for="IdentityRole" class="form-control" />*@
                    @*The Above Line of code is the bar that manually enters in the role as a string*@
                    <span asp-validation-for="IdentityRole" class="text-danger"></span>
                    <select asp-for="IdentityRole.NormalizedName" class="form-control" asp-items="@(new SelectList(ViewBag.listofitems,"Id", "Name")) "></select>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </form>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
